body {
	background-image: url("warning_tile.gif");
			color: #eedff1;
			background-color: black;
			font-size: 20;
			font-family: "comic sans ms", cursive;
			text-align: center;
	}
		
		
	.img {
		position:absolute;
		margin-right: auto;
		margin-right: auto;
	}

	
	.hover_img {
		position:absolute;
		margin-right: auto;
		margin-right: auto;
		display:none;
	}

	
	.img:hover .hover_img {
		display:inline;
		margin-right: auto;
		margin-right: auto;
	}