body {
	background-image: url("warning_tile.gif");
			color: #eedff1;
			background-color: black;
			font-size: 20;
			font-family: "comic sans ms", cursive;
			text-align: center;
	}
			
	.img {
		position:absolute;
	}
	
	.hover_img {
		position:absolute;
		top:0;
		left:0;
		display:none;
	}
	
	.img:hover .hover_img {
		display:inline;
	}
	
	div {
	display: flex;
	justify-content:center;
	}