body {
	background-image: url("warning_tile.gif");
			color: #eedff1;
			background-color: black;
			font-size: 20;
			font-family: "comic sans ms", cursive;
			text-align: center;
	}
		
		
	.img{
		background-image: url("warning/monitor_enter.png");
		width: 629px;
		height:480px;
		margin-left: auto;
		margin-right: auto;
	}
	
	.img:hover {
		background-image: url("warning/monitor_message.png");
		margin-left: auto;
		margin-right: auto;
	}