body{
	background-image: url("wormz_tile.png");
		color: #eedff1;
			background-color: black;
			font-size: 20;
			font-family: "Comic sans MS";
			text-align: center;
	}
	.grid-container {
		display: grid;
		margin: 100px auto;
		padding: 10px;
		gap: 10px;
		grid-template-columns: auto auto auto;
		}
	
	.grid-container > div {
		background: purple;
		color: #fff;
		font-size: 20px;
		padding: 20px;
		border: red 5px solid;
	}
	
	
	.item1 {
		grid-row-start: 1;
		grid-row-end: 3;
	}
	
	.item4 {
		grid-column-start: 2;
		grid-column-end: 4;
	}