body{
	background-image: url("wormz_tile.png");
		color: #eedff1;
			background-color: black;
			font-size: 30;
			font-family: "Comic sans MS";
			text-align: center;
	}
	.grid-container-top {
		display: grid;
		gap: 10px;
		grid-template-columns: 420px 800px 300px;
		justify-content: center;
		}
	
	.grid-container-top > div {
		background: purple;
		color: #fff;
		font-size: 20px;
		border: red 5px solid;
	}
	
	.grid-container-center {
		display: grid;
		gap: 10px;
		grid-template-columns: 250px 850px 300px;
		justify-content: center;
		}
	
	.grid-container-center > div {
		background: purple;
		color: #fff;
		font-size: 20px;
		border: red 5px solid;

	}
	
	
	.item1 {
		grid-row-start: 1;
		grid-row-end: 3;
	}
	
	.item4 {
		grid-column-start: 2;
		grid-column-end: 4;
	}
	
	.item5{
		grid-row-start: 1;
		grid-row-end: 3;
		padding-top: 25px;
		padding-bottom: 1000px;
	}
	
	
	
	.scroll-left {
 height: 50px;	
 overflow: hidden;
 position: relative;
 background: black;
 color: #da83ca;
 border: 0px;
}
.scroll-left p {
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 /* Starting position */
 transform:translateX(100%);
 /* Apply animation to this element */
 animation: scroll-left 20s linear infinite;
}
/* Move it (define the animation) */
@keyframes scroll-left {
 0%   {
 transform: translateX(100%); 		
 }
 100% {
 transform: translateX(-100%); 
 }
}