body{
	background-image: url("background.png"), url("wormz_tile.png");
	background-position: center top, left top;
	background-repeat: no-repeat, repeat;
	background-size: 1000px 1431px, auto;
	background-attachment: local, fixed;
	
		color: #eedff1;
			background-color: black;
			font-size: 20;
			font-family: "Comic Sans";
			text-align: center;
	}
	
	.grid-container-top {
		display: grid;
		gap: 10px;
		grid-template-columns: 230px 450px 230px;
		justify-content: center;
		}
	
	.grid-container-top > div {
		color: #fff;
		font-size: 20px;
		border: 0px;
	}
		
		
		.grid-container-center {
		display: grid;
		gap: 10px;
		grid-template-columns: 230px 450px 230px;
		justify-content: center;
		}
	
	.grid-container-center > div {
		color: #fff;
		font-size: 20px;
		border: 0px;
	}
	
	
	.item1 {
		grid-row-start: 1;
		grid-row-end: 2;
	}
	
	.item3 {
		grid-row-start: 2;
		grid-row-end: 3;
		margin-left: 25px;
		
	}
	
	.item4{
		padding-top:60px;
	}
	
	.item5{
		padding-left:27px;
		padding-top: 25px;
	}
	
	.item6 {
		grid-column-start:3;
		grid-row-start: 1;
		grid-row-end: 3;
		padding-top:55px;
		padding-left:32px;
	}
	.item7 {
		grid-row-start:2;
		grid-row-end:3;
	}
	.item9 {
		grid-column-start:2;
		padding-top:150px;
		padding-left: 20px;
	}
	
	
	.scroll-left {
height: 34px;
width: 880px; 
overflow: hidden;
position: relative;
background: black;
color: #da83ca;
font-size: 17px;
border: 0px;
}
.scroll-left p {
position: absolute;
margin:0px;
width: 100%;
height: 100%;
line-height: 42px;
text-align: center;
/* Starting position */
transform:translateX(100%);
/* Apply animation to this element */
animation: scroll-left 20s linear infinite;
}
/* Move it (define the animation) */
@keyframes scroll-left {
 0%   {
 transform: translateX(100%); 		
 }
 100% {
 transform: translateX(-100%); 
 }
}