body{
	background-image: url("background.png"), url("wormz_tile.png");
	background-position: center top, left top;
	background-repeat: no-repeat, repeat;
	background-size: 1000px 1431px, auto;
	background-attachment: local, fixed;
	
		color: #eedff1;
			background-color: black;
			font-size: 20;
			font-family: "Comic Sans";
			text-align: center;
	}