body{
	background-image: url("background.png"), url("wormz_tile.png");
	background-position: center top, left top;
	background-repeat: no-repeat, repeat;
	background-size: 1000px 1431px, auto;
	background-attachment: local, fixed;
	
		color: #eedff1;
			background-color: black;
			font-size: 20;
			font-family: "Comic Sans";
			text-align: center;
	}
	
	.grid-container {
		display: grid;
		gap: 10px;
		grid-template-columns: 200px 400px 200px;
		justify-content: center;
		}
	
	.grid-container > div {
		color: #fff;
		font-size: 20px;
		border: 0px;
	}
	
	
	.item1 {
		grid-row-start: 1;
		grid-row-end: 2;
	}
	
	.item2{
		grid-column-start: 2;
		grid-column-end:3;
	}
	.item3{
		grid-row-start:2;
		grid-row-end:3;
	}
	
	.item4{
		grid-column-start:1;
		grid-row-start: 3;
	}
	
	.item5{
		grid-column-start:2;
		grid-row-start: 3;
	}
	
	.item6{
		grid-column-start:3;
		grid-row-start: 3;
		grid-row-end:3;
	}
	
	.item7{
		grid-column-start:1;
		grid-row-start: 4;
	}
	.item8{
		grid-column-start:2;
		grid-row-start: 4;
	}
	.item9{
		grid-column-start:2;
		grid-row-start: 5;
	}
	
	
	.scroll-left {
height: 42px;
width: 900px; 
overflow: hidden;
position: relative;
background: black;
color: #da83ca;
font-size: 24px;
border: 0px;
}
.scroll-left p {
position: absolute;
margin:0px;
width: 100%;
height: 100%;
line-height: 42px;
text-align: center;
/* Starting position */
transform:translateX(100%);
/* Apply animation to this element */
animation: scroll-left 20s linear infinite;
}
/* Move it (define the animation) */
@keyframes scroll-left {
 0%   {
 transform: translateX(100%); 		
 }
 100% {
 transform: translateX(-100%); 
 }
}