body{
	background-image: url("wormz_tile.png");
	background-position: left top;
	background-repeat: repeat;
	background-size: auto;
	background-attachment: fixed;
	
		color: #eedff1;
			background-color: black;
			font-size: 20;
			font-family: "Comic sans MS";
			text-align: center;
	}
	
	.column {
  float: left;
}

.left {
  width: 25%;
}

.right {
  width: 75%;
}