body{
	background-image: url("videomonitor.png"), url("wormz_tile.png");
	background-position: center top, left top;
	background-repeat: no-repeat, repeat;
	background-size: 1180px 1674px, auto;
	background-attachment: local, fixed;
	
		color: #eedff1;
			background-color: black;
			font-size: 20;
			font-family: "Comic sans MS";
			text-align: center;
	}
	
	
	.header{
		display: grid;
		gap:5px;
		grid-template-columns:250px 605px;
		justify-content:center;
	}
		
	
	.header > div{
			color: #fff;
		font-size: 20px;
		border: 0px;
	}
	
	
	.content{
		display: grid;
		gap:10px;
		grid-template-columns:1100px;
		justify-content:center;
	}
	
	.content > div{
			color: #fff;
		font-size: 20px;
		border: 0px;
	}
	
	
	.item5 {
		padding-top:20px;
		padding-left:40px;
		width:100px;
		height:100px;
	}
	
	.subcontent{
		display: grid;
		gap:10px;
		grid-template-columns:500px 500px;
		justify-content: center;
	}
	
	.subcontent{
		color: #fff;
		font-size: 20px;
		border: 0px;
	}